@import url('https://fonts.googleapis.com/css?family=Baloo+Bhaina+2:400,500&display=swap');

:root {
  --md-width: 960px;
  --main-color: #f5eed2;
}

html, body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  background-color: #f5eed2;
  font-family: 'Baloo Bhaina 2', cursive;
  line-height: 16px;
  font-size: 16px;
}

/* #app { */
/*   padding: 20px; */
/*   background-color: #dbeeff; */
/* } */
